/* temp so this pushes correctly */
*
{
    padding: 0;
    margin: 0;
}

body
{
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1)), url('../images/water-blue-ocean.jpg');
    background-size: cover;
    background-attachment: fixed;

}

.wrapper
{
    width: 80%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

header /* Can be an image later */
{
    padding:50px;
    background-color: #0a3a8c;
    text-align: left;
    color:  #fff;
}

nav
{
    padding: 10px;
    width: 20%;
    float: left;
    background-color: #4e7fd4;
    min-height: 500px;
}
nav a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    border: 3px #769de0 outset;
    margin-bottom: 1em;
    background-color: #769de0;
}

nav a:hover
{
    background-color: #9d9d9d;
    border: 3px #9d9d9d inset;
}

nav ul{
    list-style: none;
}

main
{
    padding: 10px;
    padding-left: 25%;
    width: auto;
    background-color: #769de0;
    min-height: 500px;
    text-align: justify;
}

.clearfloat
{
    clear: both;
}

footer
{
    text-align: center;
    background-color: #4e7fd4;
}

.storyimg
{
    display: inline-block;
    width: 30%;
    height: 7em;
    overflow: hidden;
    padding: 1%;
}

.storytext
{
    display: inline-block;
    width: 60%;
    margin-right: 3%;
    height: 7em;
    overflow: hidden;
    padding: 1%;
}

.storycont
{
    margin: 1em 0;
    background-color: #4e7fd4;
}