/* temp so this pushes correctly */
*
{
    padding: 0;
    margin: 0;
}

body
{
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1)), url('../images/water-blue-ocean.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.darkBody {
    background-image: url(../images/foggy-1149637_1920.jpg);
}

header img {
    display: block;
    float: left;
}

header h1 {
    display: block;
    float: center;
    padding-right: 3em;
    padding-left: 2em;
}

.wrapper
{
    width: 80%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

header /* Can be an image later */
{
    
    padding:5em 2em 2em 2em;
    background-color: #0a3a8c;
    text-align: left;
    color:  #fff;
}

.darkHeader {
    background-color: #161616;

}

nav
{
    padding: 10px;
    width: 20%;
    float: left;
    background-color: #4e7fd4;
    /* min-height: 500px; */
    margin: 1em 0;
}

.darkNav {
    background-color: #333333;
}

nav a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    border: 3px #769de0 outset;
    margin: 1em 0;
    background-color: #769de0;
}

.darkNavA {
    background-color: #464646;
    border: 3px #464646 outset;
    color: white;
}

nav a:hover
{
    background-color: #9d9d9d;
    border: 3px #9d9d9d inset;
}

.darkNavA:hover {
    background-color: #5c5c5c;
    border: 3px #464646 outset;
}

nav ul{
    list-style: none;
}

main
{
    padding: 10px;
    padding-left: 25%;
    width: auto;
    background-color: #769de0;
    min-height: 500px;
    text-align: justify;
}

.darkMain {
    background-color: #464646;
    color: white;
}

.darkText {
    color: #fff;
}

.clearfloat
{
    clear: both;
}

footer
{
    text-align: center;
    background-color: #4e7fd4;
}

.darkFooter {
    background-color: #333333;
}

.storyimg
{
    display: inline-block;
    width: 28%;
    height: 7em;
    overflow: hidden;
    padding: 1%;
    background-size: cover;
    margin: 1%;
}

.storytext
{
    display: inline-block;
    width: 60%;
    margin-right: 3%;
    height: 7em;
    overflow: hidden;
    padding: 1%;
    font-size: 1em;
}

.storycont
{
    margin: 1em 0;
    background-color: #4e7fd4;
}

.storycont:hover
{
    background-color: #628eda;
}

.marq
{
    width:100%;
    height: 3em;
}

.storylink
{
    color: inherit;
}