/* temp so this pushes correctly */
*
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1)), url('../images/water-blue-ocean.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.darkBody {
    background-image: url(../images/foggy-1149637_1920.jpg);
}

table {
    border: 1px solid #161616;
    border-collapse: collapse;

}

table tr {
    border: 1px solid #161616;
}

table tr ts {
    margin-right: 1em;
}

header img {
    display: block;
    float: left;
}

header h1 {
    display: block;
    float: center;
    padding-right: 3em;
    padding-left: 2em;
}

.wrapper
{
    width: 80%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

header /* Can be an image later */
{
    padding:2em;
    background-color: #0a3a8c;
    text-align: left;
    color:  #fff;
    background-image: linear-gradient(to right, rgb(0,0,0,0.5), rgb(0,0,0,0));
}

.darkHeader {
    background-color: #161616;

}

nav
{
    padding: 10px;
    width: 20%;
    float: left;
    background-color: #4e7fd4;
    /* min-height: 500px; */
    margin: 1em 0;
}

.darkNav {
    background-color: #333333;
}

nav a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    border: 3px #769de0 outset;
    margin: 1em 0;
    background-color: #769de0;
    color: black;
}

.darkNavA {
    background-color: #464646;
    border: 3px #464646 outset;
    color: white;
}

nav a:hover
{
    background-color: #9d9d9d;
    border: 3px #9d9d9d inset;
}

.darkNavA:hover {
    background-color: #5c5c5c;
    border: 3px #464646 inset;
}

nav ul{
    list-style: none;
}

main
{
    padding: 10px;
    padding-left: 25%;
    width: auto;
    background-color: #769de0;
    min-height: 500px;
    text-align: justify;
}

.darkMain {
    background-color: #464646;
    color: white;
}

.clearfloat
{
    clear: both;
}

footer
{
    text-align: center;
    background-color: #4e7fd4;
}

footer hr
{
    border: #4e7fd4 1px outset;
}

.darkFooter {
    background-color: #333333;
    color: #fff;
}

.darkFooter hr
{
    border: #333333 1px outset;
}

.storyimg
{
    display: inline-block;
    width: 28%;
    height: 7em;
    overflow: hidden;
    padding: 1%;
    background-size: cover;
    margin: 1%;
    background-position: center;
}

.storytext
{
    display: inline-block;
    width: 60%;
    margin-right: 3%;
    height: 7em;
    overflow: hidden;
    padding: 1%;
    font-size: 1em;
}

.storycont
{
    margin: 1em 0;
    background-color: rgb(0,0,0,0.1);
}

.storycont:hover
{
    background-color: rgb(30,30,180,0.2);
}

.marq
{
    width:100%;
    height: 3em;
}

.storylink
{
    color: inherit;
}

button
{
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    border: 3px #769de0 outset;
    margin: 1em 0;
    background-color: #769de0;
}

.darkButt
{
    background-color: #464646;
    border: 3px #464646 outset;
    color: white;
}

button:hover
{
    background-color: #9d9d9d;
    border: 3px #9d9d9d inset;
    cursor: pointer;
}

.darkButt:hover
{
    background-color: #5c5c5c;
    border: 3px #464646 inset;
}

.articleimg
{
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
}

#return
{
    color: #fff;
    text-decoration: none;
    margin: 1em;
    background-color: rgb(0,0,0,0.1);
}

#return:hover
{
    background-color: rgb(30,30,180,0.2);
}

.supportimg
{
    margin-left: 30%;
    width: 40%;
}
.left{
    float: left;
    width: 30%;
   
}
.center{
    width: 100%;
}
.right{
    float: right;
    width: 30%;
}

