/* temp so this pushes correctly */
*
{
    padding: 0;
    margin: 0;
}

header
{
    width: 100%;
    padding:50px;
}

nav
{
    padding: 10px;
    width: 20%;
    float: left;
}
nav a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    border: 3px #cccccc outset;
    margin-bottom: 1em;
}
main
{
    padding: 10px;
    width: 80%;
    float:right;
}

.clearfloat
{
    clear: both;
}

footer
{
    text-align: center;
}